In [1]:
import pandas as pd
import numpy as np

In [10]:
from numpy.random import randn
np.random.seed(10)
a=randn(6,5)

In [12]:
a

array([[ 1.3315865 ,  0.71527897, -1.54540029, -0.00838385,  0.62133597],
       [-0.72008556,  0.26551159,  0.10854853,  0.00429143, -0.17460021],
       [ 0.43302619,  1.20303737, -0.96506567,  1.02827408,  0.22863013],
       [ 0.44513761, -1.13660221,  0.13513688,  1.484537  , -1.07980489],
       [-1.97772828, -1.7433723 ,  0.26607016,  2.38496733,  1.12369125],
       [ 1.67262221,  0.09914922,  1.39799638, -0.27124799,  0.61320418]])

In [18]:
df=pd.DataFrame(a,index=[1,2,3,4,5,6],columns=['A','B','C','D','E'])

In [19]:
df

          A         B         C         D         E
1  1.331587  0.715279 -1.545400 -0.008384  0.621336
2 -0.720086  0.265512  0.108549  0.004291 -0.174600
3  0.433026  1.203037 -0.965066  1.028274  0.228630
4  0.445138 -1.136602  0.135137  1.484537 -1.079805
5 -1.977728 -1.743372  0.266070  2.384967  1.123691
6  1.672622  0.099149  1.397996 -0.271248  0.613204

In [20]:
df1=pd.DataFrame(a)

In [21]:
df1

          0         1         2         3         4
0  1.331587  0.715279 -1.545400 -0.008384  0.621336
1 -0.720086  0.265512  0.108549  0.004291 -0.174600
2  0.433026  1.203037 -0.965066  1.028274  0.228630
3  0.445138 -1.136602  0.135137  1.484537 -1.079805
4 -1.977728 -1.743372  0.266070  2.384967  1.123691
5  1.672622  0.099149  1.397996 -0.271248  0.613204